.next_icon,
.prev_icon {
  cursor: pointer;
  height: 40px;
  width: 40px;
}
.right_btn {
  position: absolute;
  right: 42%;
  bottom: -19%;
  display: block;
}
.left_btn {
  position: absolute;
  left: 42%;
  bottom: -19%;
  display: block;
}
@media screen and (max-width: 750px) {
  .right_btn {
    right: 30%;
  }
  .left_btn {
    left: 30%;
  }
}
