.container {
  width: 100%;
  height: 170vh;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1400px;
}
.bg {
  position: absolute;
  right: 0px;
  width: 80%;
  top: 15%;
  opacity: 0.2;
  filter: grayscale(100%);
  z-index: 2;
}
.single_row {
  width: 75%;
  height: fit-content;
  z-index: 10;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1100px;
}
.single_row_feature {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 25px;
}
.single_row_feature p {
  font-family: "b-b";
  color: rgb(52, 106, 100);
  font-size: 20px !important;
}
.single_row_feature img {
  width: 24px;
}
.heading {
  font-size: 50px;
  font-weight: 200;
  font-family: "b-l";
  width: 100%;
  text-align: center;
  margin-top: 70px;
}
.left_panel {
  width: 45%;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  /* background-color: blue; */
}
.left_panel h2 {
  font-size: 60px;
  font-weight: 200;
  font-family: "b-l";
  width: 70%;
}
.left_panel p {
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
  font-family: "f-l";
}
.right_panel {
  width: 50%;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
}
.img_container {
  width: 420px;
  height: 650px;
}
.img_container_2 {
  height: 250px;
  width: 100%;
  margin-top: 20px;
}
.img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 950px) {
  .single_row {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 90%;
  }
  .left_panel {
    width: 100%;
  }
  .left_panel h2 {
    font-size: 25px;
  }
  .heading {
    font-size: 25px;
  }
  .right_panel {
    width: 100%;
  }
  .img_container_2 {
    height: fit-content;
    padding-bottom: 20px;
  }
  .img_container {
    width: 100%;
    height: initial;
    margin-top: 30px;
  }
  .container {
    height: fit-content;
    min-height: initial;
    padding-bottom: 150px;
  }
}
