.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.feedback_section,
.owner_container {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* justify-content: center; */
}
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.306);
  z-index: 10;
  transition: ease-out 200ms;
}
.blogs_section {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("../../../public/assets/destination_detail_assets/blog_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 70px;
}
.blogs_section h3 {
  font-size: 50px;
  color: white;
  font-weight: lighter;
  z-index: 10;
}
.owner_container {
  margin-top: 100px;
}
.img_container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 60px;
}
.img_container_2 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 60px;
}
.img_wrapper {
  position: relative;
}
.img_wrapper_2 {
  position: relative;
  z-index: 10;
}
.owner_info_container {
  position: absolute;
  width: 100%;
  height: 500px;
  left: 0;
  top: 0;
  background-color: rgb(239, 239, 239);
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 5;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.img {
  width: 60vw;
  height: 600px;
  object-fit: cover;
}
.feedback_section h2 {
  font-size: 45px;
  font-weight: 200;
  margin-top: 50px;
}
.owner_container h2 {
  font-size: 45px;
  font-weight: 200;
  margin-top: 50px;
}
.owner_container {
  height: 90vh;
  width: 100%;
}
.owner_info_content {
  width: 38%;
  left: 0;
  height: 400px;
  z-index: 12;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: flex-end;
}
.owner_info_content h3 {
  font-weight: lighter !important;
  font-size: 40px;
  margin-top: 40px;
}
.owner_info_content p {
  font-weight: 300 !important;
  font-size: 13px;
  margin-top: 20px;
  width: 60%;
  line-height: 20px;
  text-align: right;
}
.review_container {
  position: absolute;
  height: fit-content;
  width: fit-content;
  box-shadow: 0px 23px 93px 0px rgba(11, 78, 85, 0.46);
  background-color: white;
  right: -140%;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-bottom: 40px;
  padding-right: 50px;
}
.review_container h3 {
  font-weight: lighter !important;
  font-size: 40px;
  margin-top: 40px;
}
.stars_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  column-gap: 5px;
  margin-top: 15px;
}
.star {
  width: 15px;
}
.review_container p {
  font-weight: 300 !important;
  font-size: 13px;
  margin-top: 20px;
  width: 350px;
  line-height: 20px;
}
.btn {
  height: 50px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid rgb(6, 82, 66);
  border-radius: 7px;
  transition: ease-in-out 200ms;
  margin-top: 40px;
}
.btn p {
  color: rgb(6, 82, 66);
  font-weight: 300 !important;
  margin-top: 0 !important;
  transition: ease-in-out 200ms;
  width: fit-content !important;
}
.btn:hover {
  cursor: pointer;
  background-color: rgb(6, 82, 66);
}
.btn:hover p {
  color: white !important;
}

.btn_white {
  height: 50px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 7px;
  transition: ease-in-out 200ms;
  margin-top: 30px;
  z-index: 10;
}
.btn_white p {
  font-size: 14px;
  color: white !important;
  font-weight: 300 !important;
  margin-top: 0 !important;
  transition: ease-in-out 200ms;
  width: fit-content !important;
}
.btn_white:hover {
  cursor: pointer;
  background-color: white;
}
.btn_white:hover p {
  color: var(--deepGreen) !important;
}
