.container {
  width: 100%;
  /* height: 135vh; */
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1100px;
}
.inner_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
  width: 90%;
}
.bg {
  position: absolute;
  right: 0px;
  width: 80%;
  top: 15%;
  opacity: 0.2;
  filter: grayscale(100%);
  z-index: 2;
}
.carousel_container {
  width: 95%;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1500px;
}
.single_row {
  width: 99%;
  height: 100%;
  height: fit-content;
  z-index: 10;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left_panel {
  width: 45%;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  text-align: left;
}
.left_panel h2{
  font-size: 60px;
  font-weight: 200;
  font-family: "b-ul";
  width: 70%;
}
.left_panel p {
  font-size: 16px;
  font-weight: 200;
  line-height: 23px;
  font-family: "f-l";
  opacity: 0.5;
}
.right_panel {
  /* width: 50%; */
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
}
.img_container {
  width: 420px;
  height: 650px;
}

.img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1250px) {
  .inner_container {
    max-width: initial;
  }
  .left_panel h2 {
    font-size: 25px;
  }
  .left_panel p {
    font-size: 13px;
  }

  .container {
    height: 120vh;
    min-height: 1200px;
    max-height: 1250px;
  }
  .single_row {
    column-gap: 25px;
  }
  .img_container {
    width: 220px;
    height: 350px;
  }
}
@media screen and (max-width: 605px) {
  .single_row {
    flex-direction: column;
    row-gap: 30px;
  }
  .left_panel {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
}
