.hero_banner_container {
  height: 100vh;
  width: 100%;
  background-image: url("../../../public/assets/navbar-assets/hero_banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.667);
  position: absolute;
  z-index: 5;
}
.hero_banner_container h2 {
  color: white;
  font-size: 60px;
  font-weight: lighter;
  z-index: 6;
}
.hero_banner_container p {
  color: white;
  font-size: 14px;
  font-weight: lighter;
  width: 50%;
  text-align: center;
  z-index: 6;
  line-height: 25px;
}
