.container {
  width: 100%;
  height: 145vh;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bg {
  position: absolute;
  right: 0px;
  width: 80%;
  top: 15%;
  opacity: 0.2;
  filter: grayscale(100%);
  z-index: 2;
}
.contact_us_row {
  width: 60%;
  display: flex;
  flex-direction: row;
  column-gap: 35px;
  align-items: center;
  justify-content: space-between;
}
.contact_us_text {
  width: 80%;
  color: rgb(6, 82, 66);
  font-weight: 300 !important;
  margin-top: 0 !important;
  line-height: 25px;
}
.second_section {
  width: 100%;
  height: 25vh;
  display: flex;
  align-items: center;
  margin-top: 80px;
  justify-content: center;
}
.second_section h3 {
  font-size: 28px;
  line-height: 35px;
  width: 70%;
  font-weight: lighter;
  text-align: center;
  font-family: "b-ul";
}
.single_row {
  width: 80% !important;
  height: fit-content;
  z-index: 10;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1150px;
}
.left_panel {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  /* background-color: blue; */
}
.left_panel h2 {
  font-size: 60px;
  font-weight: 200;
  font-family: "b-ul";
  width: 95%;
}
.left_panel p {
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
  font-family: "f-l";
  width: 90%;
}
.right_panel {
  width: 40%;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
}
.img_container {
  width: 420px;
  height: 650px;
}
.img_container_2 {
  height: 250px;
  width: 400px;
  margin-top: 60px;
}
.img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 786px) {
  .hero_banner_container h2 {
    font-size: 32px;
  }
  .hero_banner_container p {
    font-size: 14px;
    width: 85%;
  }
  .second_section h3 {
    font-size: 19px;
    line-height: 25px;
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .left_panel {
    width: 90%;
  }
  .left_panel h2 {
    width: 100%;
    font-size: 25px;
    line-height: 25px;
  }
  .left_panel p {
    width: 90%;
    font-size: 15px;
  }
  .single_row {
    width: 100% !important;
    flex-direction: column;
    max-width: initial;
    row-gap: 30px;
  }
  .img_container {
    width: 320px;
    height: 450px;
  }
  .right_panel {
    width: 90%;
  }
  .container {
    width: 100%;
    height: fit-content;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
  }
}
