.container {
  width: 100%;
  height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 30px;
  font-weight: 200;
  line-height: 20px;
  font-family: "b-l";
  line-height: 45px;
  width: 60%;
  text-align: center;
}
.content_container {
  width: 85%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
}
.cards_container {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  place-items: center;
}

@media screen and (max-width: 1100px) {
  .cards_container {
    grid-template-columns: 1fr 1fr;
  }
  .title {
    font-size: 20px;
    line-height: 25px;
    width: 85%;
  }
}
@media screen and (max-width: 740px) {
  .cards_container {
    grid-template-columns: 1fr;
  }
  .title {
    font-size: 14px;
    line-height: 20px;
    width: 100%;
  }
}
