html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
:root {
  --deepGreen: #181e1e;
  --medGreen: #176060;
}

.carousel .slider-wrapper.axis-horizontal .slider {
  column-gap: 0;
}
.carousel .control-dots {
  display: none;
}
.carousel-root {
  width: 100%;
}
.large_banner_container .react-multi-carousel-list {
  background-color: #eaeeef;
}
.input_row_single {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
textarea {
  padding-top: 20px;
  font-family: "f-m";
  height: 140px;
}
.input_field {
  width: 100%;
  height: 55px;
  border-radius: 4px;
  padding-left: 15px;
  border: 1px solid rgb(207, 207, 207);
}
.input_field::placeholder {
  color: var(--medGreen) !important;
}
/* FONTS */

@font-face {
  font-family: "b-bl";
  src: url("../public/fonts/butler/Butler_Black.otf") format("opentype");
}
@font-face {
  font-family: "b-b";
  src: url("../public/fonts/butler/Butler_Bold.otf") format("opentype");
}
@font-face {
  font-family: "b-eb";
  src: url("../public/fonts/butler/Butler_ExtraBold.otf") format("opentype");
}
@font-face {
  font-family: "b-l";
  src: url("../public/fonts/butler/Butler_Light.otf") format("opentype");
}
@font-face {
  font-family: "b-m";
  src: url("../public/fonts/butler/Butler_Medium.otf") format("opentype");
}
@font-face {
  font-family: "b-r";
  src: url("../public/fonts/butler/Butler_Regular.otf") format("opentype");
}
@font-face {
  font-family: "b-ul";
  src: url("../public/fonts/butler/Butler_Ultra_Light.otf") format("opentype");
}

@font-face {
  font-family: "f-b";
  src: url("../public/fonts/futura/Futura\ Bold\ font.ttf");
}
@font-face {
  font-family: "f-bi";
  src: url("../public/fonts/futura/Futura\ Bold\ Italic\ font.ttf");
}
@font-face {
  font-family: "f-h";
  src: url("../public/fonts/futura/Futura\ Heavy\ font.ttf");
}
@font-face {
  font-family: "f-l";
  src: url("../public/fonts/futura/futura\ light\ bt.ttf");
}
@font-face {
  font-family: "f-m";
  src: url("../public/fonts/futura/futura\ medium\ bt.ttf");
}

.react-multi-carousel-track {
  height: 550px !important;
  padding-bottom: 80px !important;
}
.react-multi-carousel-dot-list {
  justify-content: initial !important;
  bottom: 35px !important;
  left: 15% !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}
.react-multiple-carousel__arrow--left {
  left: 0% !important;
  bottom: 15px !important;
  width: 43px !important;
  height: 43px !important;
  opacity: 1 !important;
  cursor: pointer;
}
.react-multiple-carousel__arrow--right {
  left: 7% !important;
  bottom: 15px !important;
  width: 43px !important;
  height: 43px !important;
  opacity: 1 !important;
  cursor: pointer;
}

.react-multi-carousel-dot button {
  background-color: rgb(218, 218, 218) !important;
  border-color: transparent !important;
  margin-right: 0px !important;
  border-radius: 0px !important;
  width: 160px !important;
  height: 0.5px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
}
.react-multi-carousel-dot--active button {
  background-color: black !important;
  height: 0.5px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
}
.second_container,
.second_container_white {
  width: 100%;
  height: fit-content;
  position: relative;
  /* margin-top: 40px; */
  min-height: 700px;
  background-color: #eaeeef;
}
.second_container_white {
  background-color: white;
}

.second_container .react-multi-carousel-dot-list,
.second_container_white .react-multi-carousel-dot-list {
  justify-content: flex-end !important;
  bottom: 23px !important;
  right: 0px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  width: 80% !important;
}
.second_container .react-multi-carousel-track,
.second_container_white .react-multi-carousel-track {
  height: 700px !important;
  padding-bottom: 80px !important;
}

.second_container .react-multiple-carousel__arrow--left,
.second_container_white .react-multiple-carousel__arrow--left {
  left: 5% !important;
  bottom: 12px !important;
  width: 43px !important;
  height: 43px !important;
  opacity: 1 !important;
}
.second_container .react-multiple-carousel__arrow--right,
.second_container_white .react-multiple-carousel__arrow--right {
  left: 10% !important;
  bottom: 12px !important;
  width: 43px !important;
  height: 43px !important;
  opacity: 1 !important;
}

.second_container .react-multi-carousel-dot button,
.second_container_white .react-multi-carousel-dot button {
  background-color: black !important;
  border-color: 2px solid transparent !important;
  margin-right: 0px !important;
  border-radius: 100px !important;
  width: 14px !important;
  height: 14px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
  margin-right: 10px !important;
  transition: ease-in-out 200ms;
}
.second_container .react-multi-carousel-dot--active button,
.second_container_white .react-multi-carousel-dot--active button {
  background-color: transparent !important;
  border: 2px solid black !important;
  height: 14px !important;
  width: 14px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-top-width: 2px !important;
  border-bottom-width: 2px !important;
  transition: ease-in-out 200ms;
}

.homepage_location_pic_container .react-multiple-carousel__arrow--left {
  left: 10% !important;
  top: 100px !important;
  width: 43px !important;
  height: 100% !important;
  opacity: 1 !important;
  object-fit: fill;
}
.homepage_location_pic_container .react-multiple-carousel__arrow--right {
  left: 10% !important;
  top: 100px !important;
  width: 43px !important;
  height: 100% !important;
  opacity: 1 !important;
  object-fit: fill;
}

* {
  margin: 0px;
  margin-left: 0px;
  box-sizing: border-box;
}
.cards_container {
  margin-top: 50px;
  margin-bottom: 100px;
  width: 100%;
  max-width: 100%;
  margin-left: 7%;
  right: 100px;
  margin-top: 15px;
  position: relative;
  height: 500px;
}
.homepage_location_pic_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homepage_location_pic_container {
  height: 440px;
  width: 670px;
  position: absolute;
  left: 17%;
  bottom: 80px;
}
.cards_container .react-multi-carousel-item {
  /* width: 445px !important; */
  /* margin-right: 10px; */
}
.homepage_location_pic_container .react-multi-carousel-item {
  width: 670px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage_location_pic_container img {
  width: 270px !important;
}
.facilities_container {
  width: 100%;
  height: 79vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  background-color: black;
  overflow: hidden;
}
.facilities_container .react-multi-carousel-track {
  height: 100vh !important;
}
.facilities_container .react-multi-carousel-list {
  width: 100vw !important;
}
@media screen and (max-width: 1100px) {
  .cards_container {
    right: 31px;
  }
  .homepage_location_pic_container {
    height: 440px;
    width: 670px;
    right: -180px;
    left: initial;
  }
  .homepage_location_pic_container img {
    width: 210px !important;
  }
  .homepage_location_pic_container img {
    height: 70%;
  }
  .homepage_location_pic_container .react-multiple-carousel__arrow--left {
    left: 203% !important;
    top: 100px !important;
    width: 32px !important;
    height: 100% !important;
    opacity: 1 !important;
    object-fit: fill;
  }
  .homepage_location_pic_container .react-multiple-carousel__arrow--right {
    left: 133% !important;
    top: 100px !important;
    width: 32px !important;
    height: 100% !important;
    opacity: 1 !important;
    object-fit: fill;
  }
}

@media screen and (max-width: 600px) {
  .carousel.carousel-slider {
    height: 855px !important;
  }
  .react-multiple-carousel__arrow--left {
    left: 0% !important;
    bottom: -15px !important;
    width: 43px !important;
    height: 43px !important;
    opacity: 1 !important;
    cursor: pointer;
  }
  .react-multiple-carousel__arrow--right {
    left: 7% !important;
    bottom: 15px !important;
    width: 43px !important;
    height: 43px !important;
    opacity: 1 !important;
    cursor: pointer;
  }
  .homepage_location_pic_container .react-multi-carousel-track {
    margin-left: 30px;
  }
  .react-multiple-carousel__arrow--left {
    left: 0% !important;
    bottom: 45px !important;
    width: 43px !important;
    height: 43px !important;
    opacity: 1 !important;
    cursor: pointer;
  }
  .react-multiple-carousel__arrow--right {
    left: 20% !important;
    bottom: 45px !important;
    width: 43px !important;
    height: 43px !important;
    opacity: 1 !important;
    cursor: pointer;
  }
  .react-multi-carousel-dot-list {
    justify-content: initial !important;
    bottom: 20px !important;
    left: 0% !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
  }
  .react-multi-carousel-dot button {
    width: 40px !important;
    height: 0.5px !important;
  }
  .react-multi-carousel-dot--active button {
    background-color: black !important;
    height: 0.5px !important;
    width: 40px !important;
  }
  .homepage_location_pic_container .react-multiple-carousel__arrow--left {
    left: 263% !important;
    top: 100px !important;
    width: 32px !important;
    height: 100% !important;
    opacity: 1 !important;
    object-fit: fill;
  }
  .homepage_location_pic_container .react-multiple-carousel__arrow--right {
    left: 190% !important;
    top: 100px !important;
    width: 32px !important;
    height: 100% !important;
    opacity: 1 !important;
    object-fit: fill;
  }
}
.our_team_slider {
  width: 70%;
  height: fit-content;
  flex-direction: row;
  column-gap: 40px;
}
@media screen and (max-width: 1341px) {
  .our_team_slider .slick-initialized .slick-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .our_team_slider {
    width: 100% !important;
  }
}
