html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
:root {
  --deepGreen: #181e1e;
  --medGreen: #176060;
}
.react-multi-carousel-track {
  height: 550px !important;
  padding-bottom: 80px !important;
}
.react-multi-carousel-dot-list {
  justify-content: initial !important;
  bottom: 35px !important;
  left: 15% !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}
.react-multiple-carousel__arrow--left {
  left: 0% !important;
  bottom: 15px !important;
  width: 43px !important;
  height: 43px !important;
  opacity: 1 !important;
  cursor: pointer;
}
.react-multiple-carousel__arrow--right {
  left: 7% !important;
  bottom: 15px !important;
  width: 43px !important;
  height: 43px !important;
  opacity: 1 !important;
  cursor: pointer;
}

.react-multi-carousel-dot button {
  background-color: rgb(218, 218, 218) !important;
  border-color: transparent !important;
  margin-right: 0px !important;
  border-radius: 0px !important;
  width: 160px !important;
  height: 0.5px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
}
.react-multi-carousel-dot--active button {
  background-color: black !important;
  height: 0.5px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
}
.second_container {
  width: 100%;
  height: 80vh;
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin-top: 40px;
  /* padding-bottom: 160px; */
}
.second_container .react-multi-carousel-dot-list {
  justify-content: initial !important;
  bottom: 23px !important;
  right: 0px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  width: 100% !important;
}
.second_container .react-multi-carousel-track {
  height: 600px !important;
  padding-bottom: 80px !important;
}

.second_container .react-multiple-carousel__arrow--left {
  left: 5% !important;
  bottom: 12px !important;
  width: 43px !important;
  height: 43px !important;
  opacity: 1 !important;
}
.second_container .react-multiple-carousel__arrow--right {
  left: 10% !important;
  bottom: 12px !important;
  width: 43px !important;
  height: 43px !important;
  opacity: 1 !important;
}

.second_container .react-multi-carousel-dot button {
  background-color: black !important;
  border-color: 2px solid transparent !important;
  margin-right: 0px !important;
  border-radius: 100px !important;
  width: 14px !important;
  height: 14px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
  margin-right: 10px !important;
  transition: ease-in-out 200ms;
}
.second_container .react-multi-carousel-dot--active button {
  background-color: transparent !important;
  border: 2px solid black !important;
  height: 14px !important;
  width: 14px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-top-width: 2px !important;
  border-bottom-width: 2px !important;
  transition: ease-in-out 200ms;
}

/* asdsadasd */

.homepage_location_pic_container .react-multiple-carousel__arrow--left {
  left: 10% !important;
  top: 100px !important;
  width: 43px !important;
  height: 100% !important;
  opacity: 1 !important;
  object-fit: fill;
}
.homepage_location_pic_container .react-multiple-carousel__arrow--right {
  left: 10% !important;
  top: 100px !important;
  width: 43px !important;
  height: 100% !important;
  opacity: 1 !important;
  object-fit: fill;
}

* {
  margin: 0px;
  margin-left: 0px;
  box-sizing: border-box;
}
.cards_container {
  margin-top: 50px;
  margin-bottom: 100px;
  width: 100%;
  max-width: 100%;
  margin-left: 22%;
  right: 100px;
  margin-top: 15px;
  position: relative;
  /* max-width: 1250px; */
  height: 500px;
}
.homepage_location_pic_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.homepage_location_pic_container {
  height: 440px;
  width: 670px;
  position: absolute;
  right: -17%;
  bottom: 80px;
}
.cards_container .react-multi-carousel-item {
  width: 420px !important;
}
.homepage_location_pic_container .react-multi-carousel-item {
  width: 670px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homepage_location_pic_container img {
  width: 270px !important;
}
